/* .category .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;

}

.category .box-container .box {
	background: var(--bg-color-1);
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	padding: 2rem;
	position: relative;
}

.category .box-container .box .image {
	height: 20rem;
	width: 100%;
	overflow: hidden;
	border-radius: .5rem;
	background: var(--bg-color-2);
}

.category .box-container .box .image img {
	height: 100%;
	width: 100%;
}

.category .box-container .box:hover .image img {
	transform: scale(1.2);
}

.category .box-container .box .content {

	  position: absolute;
	  top: 50%;
	  left: 40%;
	  transform: translate(-50%, -50%);
}

.category .box-container .box .content h3 {
	background-color: rgba(236, 236, 236, 0.705);
	padding: 0.5rem;
	border-radius: .5rem;
	font-size: 2rem;
	color: var(--text-color-1);
	line-height: 1.2;
}

 */
