.home {
	padding: 0;
	top: 8rem;
	margin: 2rem;
	border-radius: 1rem;
	position: relative;
	background: rgb(187, 255, 191);
}

.home .slide-container .slide {
	min-height: 70vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 0 9%;
	padding-top: 9rem;
}

.home .slide-container .slide .content {
	flex: 1 1 50rem;
}

.home .slide-container .slide .image {
	flex: 1 1 40rem;
	margin-bottom: 6rem;
	position: relative;
	z-index: 0;
}

.home .slide-container .slide .image .shoe {
	width: 100%;
	transform: rotate(-35deg);
}


.home .slide-container .slide .content span {
	font-size: 2rem;
	color:black;
}

.home .slide-container .slide .content h3 {
	font-size: 5rem;
	color: var(--black);
}

.home .slide-container .slide .content p {
	font-size: 1.7rem;
	color: rgb(97, 0, 0);
	padding: .5rem 0;
}




